.containerJogadores{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 40.3125em;
	background-image: url('../img/cap.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.containerJogadores form input{
	margin-bottom: 10px;
}
